@import "./variables.scss";

.banner{
    background:linear-gradient(
        rgba(0,0,0,0.7),rgba(0,0,0,0.7)
    ),
     url('../images/background.png') no-repeat center;
    height:72vh;
    padding-top:-20px;
    h1{
        @include RlwBold(30px, white);
        margin-top:220px;
        span{
            color: $textHeading;
        }
    }
    p{
        @include RlwBold(14px, white);
        margin:50px 0;
    }
    .button-default{
        background: black;
        border-radius:0;
        @include RlwMed(20px, white);
        margin-left:20px;
        &:hover{
            color:white;
            background-color:#ee183f;
        }
    }
}