@import "./variables.scss";

.portfolio{
    padding-top:100px;
    background: $bgColor;
    .row{
        margin-bottom:100px;
    }
    
    h2{
        @include RlwBold(30px, white);
    }
    a{
        @include RlwReg(16px, $textColor);
    }
}