@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Raleway:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Raleway:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Raleway:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Raleway:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Raleway:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Raleway:400,500,700&display=swap");
.menubar {
  height: 65px;
  background: #07070b;
}

.menubar .logo {
  line-height: 65px;
  font-family: 'Big Shoulders Text', cursive;
  font-weight: 400;
  font-size: 26px;
  color: white;
  letter-spacing: 2px;
}

.menubar .navbar-default {
  background: #07070b;
  border: none;
}

.menubar .menu {
  padding-top: 8px;
}

.menubar a {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #858586;
  padding: 15px 5px;
}

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/background.png") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/background.png") no-repeat center;
  height: 72vh;
  padding-top: -20px;
}

.banner h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: white;
  margin-top: 220px;
}

.banner h1 span {
  color: #a21f37;
}

.banner p {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white;
  margin: 50px 0;
}

.banner .button-default {
  background: black;
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-left: 20px;
}

.banner .button-default:hover {
  color: white;
  background-color: #ee183f;
}

.about .row {
  margin-bottom: 100px;
}

.about h2 {
  padding: 100px 0 40px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: black;
}

.about h2 span {
  color: #a21f37;
}

.about .heading-text p {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #5c5c5c;
}

.about .panel, .about .panel-default {
  margin-bottom: 0;
}

.about .pannel-group {
  padding-top: 40px;
}

.about .about-image-1 {
  z-index: 3;
}

.about hr {
  border: 1px solid black;
}

.about .feature i, .about .feature h4, .about .feature p {
  padding-bottom: 30px;
}

.about .feature i {
  font-size: 30px;
}

.about .feature i:hover {
  color: #a21f37;
}

.about .feature h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
}

.portfolio {
  padding-top: 100px;
  background: #262626;
}

.portfolio .row {
  margin-bottom: 100px;
}

.portfolio h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: white;
}

.portfolio a {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #5c5c5c;
}

.product {
  padding-top: 100px;
}

.product .row {
  margin-bottom: 100px;
}

.product h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: white;
}

.product h2 span {
  color: #a21f37;
}

.product .heading-text p {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #5c5c5c;
}

.product .product-description {
  padding-top: 150px;
}

.product .product-description p {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
  border: 1px solid #cac3c3;
  padding: 15px 50px;
}

.product .btn-default {
  background: black;
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: white;
  margin-left: 20px;
}

.product .btn-default:hover {
  color: white;
  background-color: #ee183f;
}
/*# sourceMappingURL=style.css.map */